.payments {

        margin: 10px;
        padding: 7px;
        width: 130px;
        background: rgba(19, 160, 89, 0.966);
        border-radius: 7px;
        font-size: 15px;
        font-weight: bold; 
    
}

.payments:hover {
    cursor: pointer;
    margin: 10px;
    padding: 7px;
    width: 130px;
    background: rgba(15, 128, 71, 0.884);
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold; 
}

.paymentOption {
    top: 85%;
    left: 20px;
    position: absolute;
    z-index: 1000;
    width: 450px;
    height: 80px;
    border: 1px solid rgb(90, 90, 90);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.521);
    border-radius: 7px;
    transition: .3s ease all;
    background: rgb(255, 255, 255);
}

