div .divOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px;
    width: 60%;
}

div .divOrder .divData {
    display: flex;
    flex-direction: row;
}

div .divOrder .divTitle {
    display: flex;
    flex-direction: row;
}