/* body {
  background-color: rgba(217, 217, 217, 0.45);
} */
body {
  background-color:rgba(0, 0, 0, 0.082);
}
/*
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 10, 10);
} */

